[class*=autocompleteInner] {
  background-color: var(--background-floating);
}

[class*=autocomplete] [class*=selected] {
  background-color: var(--background-secondary);
}

/* Slash Command Headers */
div[class*=categoryHeader] {
  background-color: var(--background-secondary);
}

[class*=slider] > div[class*=bar] {
  background-color: var(--background-accent);
}

div[class*=serverBoostTabItem][class*=selected],
div[class*=premiumTabItem][class*=selected],
[aria-label=Home][class*=wrapper][class*=selected] [class*=childWrapper],
[class*=radioGroup] [class*=cardPrimaryEditable][style*="rgb(114, 137, 218)"],
[class*=valueChecked],
button[class*=lookFilled][class*=colorBrand]:not(button[class*=customSwatch]) {
  background-color: var(--ayu-button-default) !important;
}

div[class*=barFill] {
  background-color: var(--ayu-notification-colour);
}

[class*=valueUnchecked] {
  background-color: var(--background-accent);
}

button[class*=lookFilled][class*=colorGreen],
button[class*=lookInverted][class*=colorGreen],
div[aria-controls=add_friend-tab] {
  background-color: var(--ayu-button-positive) !important;
}

/* Toggle sliders */
div[class*=control] > div[class*=container]:not([style*="* 4.6%"]) {
  background-color: var(--ayu-button-positive) !important;
}

div[class*=control] > div[class*=container][style*="* 4.6%"] {
  background-color: var(--background-accent) !important;
}

div[class*=container]:not([style*="* 4.6%"]) > svg[class*=slider] > svg > path {
  fill: var(--ayu-button-positive) !important;
}

div[class*=container][style*="* 4.6%"] > svg[class*=slider] > svg > path {
  fill: var(--background-accent) !important;
}

button[class*=lookInverted][class*=colorBrand] {
  background-color: var(--ayu-button-default) !important;
  color: var(--text-normal) !important;
}

button[class*=lookFilled][class*=colorRed] {
  background-color: var(--ayu-button-negative) !important;
}

button[class*=lookFilled][class*=colorGrey],
button[class*=lookFilled][class*=colorPrimary] {
  background-color: var(--background-accent) !important;
  color: var(--text-normal) !important;
}

[class*=streamPreview] > button[class*=cta] {
  background-color: var(--background-accent);
}

div[class*=progress] rect[class*=background] {
  color: var(--background-accent) !important;
}

div[class*=barBackground] {
  background-color: var(--background-accent) !important;
}

[class*=colorDanger]:not(:hover):not(:active) {
  color: var(--ayu-menu-red);
  background-color: transparent;
}

[class*=colorDanger]:hover,
[class*=colorDanger]:hover [class*=colorDefault],
[class*=colorDanger]:active [class*=colorDefault],
[class*=colorDanger]:active {
  background-color: var(--ayu-menu-red) !important;
  border-color: var(--ayu-menu-red);
}

div[class*=popout] > div[class*=row][role=button]:hover,
[class*=colorDefault]:hover,
[class*=colorDefault]:active:not([class*=hideInteraction]),
[class*=colorDefault][class*=focused] {
  background-color: var(--ayu-menu-default);
}

[id*=message-quickreact] [class*=button] {
  border-radius: var(--ayu-border-radius);
}

[role=dialog][aria-label^="Add Role"] [class*=header] {
  background-color: var(--background-secondary);
}

[role=dialog][aria-label^="Add Role"] [class*=sectionTag] {
  background-color: var(--background-floating);
}

div[class*=selectOption]:hover {
  background-color: var(--background-modifier-hover);
}

/* Replies */
[class^=message] [class*=cozy] [class*=repliedMessage] {
  background-color: var(--background-secondary);
  border-radius: var(--ayu-border-radius);
  width: fit-content;
  max-width: 100%;
  padding: 4px;
  margin: 0;
}

[class^=message] [class*=cozy] [class*=repliedMessage]::before {
  display: none;
}

img[class*=replyAvatar] {
  background-color: var(--background-secondary-alt);
  content: var(--ayu-reply-icon);
  padding: 1.5px;
}

/* Reactions on messages */
[class*=reactions][role=group] [class*=reaction] {
  background-color: var(--background-modifier-hover);
}

[class*=reactions][role=group] [class*=reaction][class*=reactionMe] {
  background-color: var(--background-accent);
}

/* Game invites */
[class^=preview][class^=invite],
[class^=message] [class^=invite] {
  background-color: var(--background-secondary);
  border-color: var(--background-secondary-alt);
}

/* Mentions */
[class^=message][class*=mentioned]::before {
  background-color: var(--ayu-notification-colour);
}

/* Spoilered stuff */
[class*=spoilerText][class*=hidden] {
  background-color: var(--background-tertiary) !important;
}

[class*=spoilerText]:not([class*=hidden]) {
  background-color: var(--background-modifier-hover) !important;
}

[class*=regionSelectModal],
[class*=overflowRolesPopout]:not([class*=ArrowWrapper]),
[class*=colorPickerCustom],
[class*=streamPreviewWrapper] [class*=streamPreview],
[class*=addGamePopout],
[class*=keyboardShortcutsModal],
[class*=uploadModal],
[class*=uploadModal] > [class*=inner],
[role=dialog] [class*=content][class*=thin][class*=scrollerBase],
[role=dialog] [class*=header][class*=horizontal] {
  background-color: var(--background-floating) !important;
}

[class*=root][class*=small],
[class*=modalContents] {
  background-color: var(--background-floating);
}

[role=dialog] [class*=footer] {
  background-color: var(--background-secondary);
}

[role=dialog] [class^=message]:not([class^=replied]) {
  background-color: var(--background-primary);
}

[class*=menu],
[role=dialog] [class*=reactors] {
  background-color: var(--background-primary) !important;
  border-color: var(--background-secondary-alt);
}

[role=dialog] > div > [class*=thin][class*=scroller] {
  background-color: var(--background-secondary);
}

[class*=root][class*=small] a {
  color: var(--text-link);
}

/* Quick switcher */
[class*=quickswitcher] > [class*=input] {
  background-color: var(--background-secondary-alt);
}

div[class*=guildPopout] > div[class*=body] {
  background-color: var(--background-floating);
}

/* SMALL POPOUTS */
[class*=userPopout] > [class*=body],
[class*=userPopout] [class*=footer] {
  background-color: var(--background-floating) !important;
}

[role=option][class*=role],
[class*=role][class*=addButton],
[class*=role][class*=overflowButton] {
  border-radius: 2.5px;
  background-color: unset;
}

[role=option][class*=role]:not(button) {
  border-radius: 2.5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 0;
}

[class*=roleCircle] {
  border-radius: 0;
  padding: 0 0 100% 0;
  width: 6px;
  margin-left: 0;
}

[class*=roleCircle]::before {
  background: inherit;
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
}

[role=option][class*=role]:not(button):hover [class*=roleCircle] {
  background-color: var(--ayu-negative) !important;
}

[role=option][class*=role]:not(button):hover [class*=roleRemoveIcon] {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
}

/* LARGE POPOUTS */
div[class*=topSection] [class*=tabBarContainer] {
  border: none;
  padding-bottom: 5px;
}

div[class*=topSection] [class*=tabBar][role=tablist] {
  height: 40px;
}

div[class*=topSection] [class*=tabBar][role=tablist] [class*=tabBarItem] {
  margin: 0;
  padding: 0 15px;
  border-bottom: none;
  border-radius: var(--ayu-border-radius);
}

div[class*=topSection] [class*=tabBar][role=tablist] [class*=tabBarItem][aria-selected=true] {
  background-color: var(--background-secondary-alt);
}

[class*=listScroller] {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-content: flex-start;
}

[class*=listRow][role=button] {
  width: 48%;
  height: 50px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: var(--background-secondary-alt);
  border-radius: var(--ayu-border-radius);
}

[class*=listRow][role=button]:hover {
  background-color: var(--background-modifier-hover);
}

[class*=userInfoSection] {
  border: none !important;
}

div[class*=userPopout] > div[class*=footer] {
  padding: 0 12px 16px;
}

[class*=note] textarea {
  background-color: var(--background-tertiary);
  padding: 10px;
}

[class*=userInfoSection] [class*=connectedAccounts] {
  margin-top: -40px;
}

[class*=connectedAccounts] [class*=connectedAccount]:not([class*=connectedAccountName]) {
  border: none;
  background-color: var(--background-secondary-alt);
  border-radius: var(--ayu-border-radius);
}

[class*=flowerStar] > path {
  fill: var(--background-accent);
}

[class*=additionalActionsIcon] {
  height: 32px;
  width: 32px;
  background-color: var(--background-accent);
  border-radius: 3px;
  transform: rotate(90deg);
}

[class*=pageWrapper] {
  background-color: var(--background-primary) !important;
}

[class*=peopleColumn] {
  background-color: var(--background-primary);
}

/* "Active Now" sidebar */
div[class*=nowPlayingColumn] div[class*=itemCard][class*=interactive]:hover {
  background-color: var(--background-tertiary);
}

/* SERVER LIST */
[class*=circleIconButton] {
  color: var(--ayu-positive);
}

[class*=circleIconButton][class*=selected],
[class*=circleIconButton]:hover {
  background-color: var(--ayu-positive);
  color: white;
}

[class*=guildSeparator] {
  background-color: var(--background-accent);
}

[aria-label=Home] [class*=childWrapper] {
  background-color: var(--background-accent);
}

/* INFO BARS */
[class*=messagesErrorBar] {
  background-color: var(--ayu-negative) !important;
}

[class*=newMessagesBar] {
  background-color: var(--ayu-default);
  opacity: 0.75;
  z-index: 20;
}

/* SEARCH */
[id*=search-results] [class*=queryContainer][class*=focused],
[id*=search-results][class*=container] {
  background-color: var(--background-floating);
}

[id*=search-results][class*=option]::after {
  background: none !important;
}

[id*=search-results][class*=option][class*=selected] {
  background-color: var(--background-secondary);
}

[class*=searchFilter],
[class*=searchAnswer] {
  background-color: var(--background-accent) !important;
  color: var(--text-normal);
}

/* Calendar picker for search */
div[class*=react-datepicker] {
  background-color: var(--background-floating) !important;
}

/* Porple notifs www */
div[class*=numberBadge],
div[class*=unreadBar],
div[class*=unreadMentionsIndicatorTop] > div[class*=unreadMentionsBar] {
  background-color: var(--ayu-notification-colour) !important;
}

/* Southwest user area */
[class*=container] [class*=avatarWrapper] > [class*=avatar][class*=wrapper] {
  padding: 4px;
}

div[class*=sidebar] > section[class*=panels] > [class*=container] > [class*=avatarWrapper] {
  position: fixed;
  bottom: 16px;
  z-index: 1;
  left: 13px;
}

[class*=animatorTop] > [class*=styleFixed] {
  width: auto;
  left: 50px;
  bottom: -61.5px;
  display: flex;
  flex-direction: row;
}

[class*=customEmojiPlaceholder] {
  background-image: var(--ayu-edit-icon);
}

[class*=statusItem] > div[class*=description],
[class*=statusItem] > div[class*=status],
[class*=menu][class*=styleFixed] > div[class*=scroller] > div[class*=separator] {
  display: none;
}

[class*=clearStatusIcon] {
  margin-left: 0;
}

nav[class*=guilds] ul[class*=tree] {
  height: calc(100% - 160px);
}

[class*=container] > [class*=flex][style="flex: 0 1 auto;"] {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 39px;
  padding: 20px;
  pointer-events: visible;
}

div[class^=customStatus] > span[class*=customText],
div[class^=customStatus] > img[class*=customEmoji],
section[class*=panels] > div[class*=container] > div[class*=nameTag] {
  display: none;
}

section[class*=panels] > div[class*=container] {
  background-color: var(--background-secondary);
  height: 0;
}

[class*=animatorTop] > [class*=styleFixed] > div[class*=scroller] {
  display: flex;
  flex-direction: row;
}

div[class^=customStatus][class*=statusItem] {
  grid-template-columns: none;
}

[class*=animatorTop] > [class*=styleFixed] > div[class*=scroller] > [class*=item] > [class*=statusItem] {
  grid-template-columns: none;
  padding-left: 12px;
  padding-right: 12px;
}

/* Top toolbar stuff */
div[class*=chat] > [class*=content]::before,
nav[class*=container] > div[class*=container][class*=clickable] > header[class*=header] {
  box-shadow: none;
}

div[class*=chat] > section[class*=container][class*=themed] {
  background-color: var(--background-secondary);
}

div[class*=toolbar] > a[class*=anchor] {
  display: none;
}

div[class*=toolbar] > div[class*=search] {
  order: 1;
}

[class*=perksModal] {
  background-color: var(--background-primary);
}

[class*=perksModal] [class*=tierMarkerContainer] [class*=tierMarkerBackground],
[class*=perksModal] [class^=perks] > [class^=perk] {
  background-color: var(--background-floating);
}

[class*=tierBody] {
  background-color: var(--background-floating) !important;
}

[class*=tierHeaderLocked],
[class*=tierHeaderUnlocked] {
  background-color: var(--background-secondary) !important;
}

div[class*=tierInProgress] {
  background-color: var(--background-accent) !important;
}

/* Mic Test thing */
[class*=micTest] [class*=container] {
  border-radius: var(--ayu-border-radius);
}

[class*=micTest] [class*=container] [class*=notches] {
  display: none;
}

[class*=micTest] [class*=container] [class*=progress] {
  background-color: var(--background-secondary);
}

/* Settings hovering */
[class*=card][class*=member]::before,
[class*=card][class*=game]::before,
[class*=card][class*=bannedUser]::before,
[class*=card][class*=InviteRow]::before,
[class*=card][class*=emojiRow]::before {
  background-color: var(--background-secondary);
  border: none;
}

[class*=formNotice],
[class*=notDetected],
[class*=userSettingsVoice] [class*=previewOverlay],
[class*=codeRedemptionRedirect] {
  background-color: var(--background-floating) !important;
}

.hljs-meta,
.hljs-meta-keyword,
.hljs-keyword {
  color: var(--ayu-syntax-keyword) !important;
}

.hljs-code,
.hljs-formula,
.hljs-strong,
.hljs-emphasis,
.hljs-built_in {
  color: var(--ayu-syntax-markup) !important;
}

.hljs-selector-pseudo,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-bullet,
.hljs-section,
.hljs-title,
.hljs-number,
.hljs-literal {
  color: var(--ayu-syntax-func) !important;
}

.hljs-operator {
  color: var(--ayu-syntax-operator) !important;
}

.hljs-params,
.hljs-variable,
.hljs-punctuation {
  color: var(--text-normal) !important;
}

.hljs-quote,
.hljs-char.escape_,
.hljs-regexp {
  color: var(--ayu-syntax-regexp) !important;
}

.hljs-meta-string,
.hljs-string {
  color: var(--ayu-syntax-string) !important;
}

.hljs-symbol {
  color: var(--ayu-syntax-special) !important;
}

.hljs-variable.language_ {
  color: var(--ayu-syntax-constant) !important;
}

.hljs-subst,
.hljs-variable.constant_ {
  color: var(--ayu-syntax-regexp) !important;
}

.hljs-title.class_.inherited__,
.hljs-title.class_ {
  color: var(--ayu-syntax-entity) !important;
}

.hljs-doctag,
.hljs-comment {
  color: var(--ayu-syntax-comment) !important;
}

.hljs-selector-tag,
.hljs-link,
.hljs-attr,
.hljs-attribute,
.hljs-name,
.hljs-tag,
.hljs-type {
  color: var(--ayu-syntax-tag) !important;
}

.hljs-addition {
  color: var(--ayu-syntax-added) !important;
}

.hljs-deletion {
  color: var(--ayu-syntax-removed) !important;
}

/* SECTION: Misc. tweaks */
/* Tag customisation */
div[class*=betaBadge],
[class*=botTag] {
  background-color: var(--ayu-bot-tag-bg-colour) !important;
  color: var(--ayu-bot-tag-fg-colour);
  border-radius: var(--ayu-bot-tag-radius);
}

/* Audit log filters */
[class*=FilterPopout] {
  background-color: var(--background-floating) !important;
}

[class*=content] > [class*=selectedBrand] {
  background-color: var(--ayu-default) !important;
}

/* Stream controls and stuff */
[class*=bottomControls] [class*=colorable][class*=primaryDark] {
  background-color: var(--background-accent);
}

/* Go Live window */
[role=dialog] [class*=modalSize][class*=root],
[class*=segmentContainer] [class*=segmentControl] {
  background-color: var(--background-floating);
}

/* Confirmation region */
[class*=noticeRegion] [class*=elevationHigh] {
  background-color: var(--background-floating) !important;
}

/* Nitro Gifts Tile */
div[class*=giftCodeContainer] > div[class*=tile],
div[class*=giftCodeContainer] > div[class*=tile]:hover {
  background-color: var(--background-tertiary);
}

/* Voice Call stream watchers user hover */
[class*=memberListItem]:not([class*=popoutDisabled]):hover {
  background-color: var(--background-secondary) !important;
}

/* VC video loading background */
[class*=videoWrapper] {
  background-color: var(--background-accent);
}

/* Border color for focused input boxes */
textarea[class*=input]:focus,
input[class*=input]:focus {
  border-color: var(--ayu-notification-colour);
}

/* "Active Threads" modal */
div[class*=focusLock] [class*=root] {
  background-color: var(--background-floating);
}

/* Marks on sliders */
div[class*=markDash] {
  background-color: var(--background-accent) !important;
}

div[class*=markValue] {
  color: var(--text-muted) !important;
}

/* Keybind icons */
div[class*=keybindShortcut] span {
  background-color: var(--background-accent) !important;
}

section[class*=title] div[class*=children]::after {
  background: none !important;
}