@import url("https://sardonicism-04.github.io/ayu-discord/css/ayu.css");

/* Uncomment any of these lines to enable them */

/* Border Radius-es (Square Icons etc) */
/* @import url(https://sardonicism-04.github.io/ayu-discord/extensions/borders.css); */

/* Lurker Input Bar (Hides the input bar when you aren't hovering it to prevent accidentally triggering typing) */
/* @import url(https://sardonicism-04.github.io/ayu-discord/extensions/lurker-input.css); */

/* Declares variables used within the theme and all */
.theme-light,
.theme-dark {
    /* Discord vars */
    --background-primary: #FAFAFA;
    --background-secondary: #eff0f1;
    --background-secondary-alt: #f0f0f0;
    --background-tertiary: #E7E8E9;
    --background-accent: #E1E1E2;
    --background-floating: #FFFFFF;

    --channeltextarea-background: var(--background-accent);
    --channels-default: #575f66;

    --text-muted: #8a9199;
    --text-normal: #575f66;
    --text-link: #55b4d4;

    --input-background: var(--background-tertiary);

    --interactive-normal: #575f66;
    --interactive-hover: #575f66;
    --interactive-active: #575f66;
    --interactive-muted: #8a9199;

    --header-primary: #575f66;
    --header-secondary: #8a9199;

    --background-mentioned: #a29bfe1c;
    --background-mentioned-hover: #a29bfe31;

    --background-modifier-hover: #8A91992d;
    --background-modifier-active: #8A919949;
    --background-modifier-selected: #8A91995d;

    --activity-card-background: var(--background-tertiary);

    /* Ayu theme-specific vars */
    --ayu-positive: #99bf4d;
    --ayu-negative: #f27983;
    --ayu-default: #709ecc;

    --ayu-transition-duration: 0.25s;

    --ayu-syntax-tag: #5584d4;
    --ayu-syntax-func: #f2ae49;
    --ayu-syntax-entity: #399ee6;
    --ayu-syntax-string: #86b300;
    --ayu-syntax-regexp: #4cbf99;
    --ayu-syntax-markup: #f07171;
    --ayu-syntax-keyword: #fa8d3e;
    --ayu-syntax-special: #e6ba7e;
    --ayu-syntax-comment: #abb0b6;
    --ayu-syntax-constant: #a37acc;
    --ayu-syntax-operator: #ed9366;
    --ayu-syntax-added: #99bf4d;
    --ayu-syntax-removed: #f27983;

    --ayu-menu-red: var(--ayu-negative);
    --ayu-menu-default: var(--ayu-default);

    --ayu-button-default: var(--ayu-default);
    --ayu-button-positive: var(--ayu-positive);
    --ayu-button-negative: var(--ayu-negative);

    --ayu-presence-playing: var(--ayu-default);
    --ayu-presence-spotify: var(--ayu-positive);
    --ayu-presence-streaming: #a37acc;

    --ayu-status-online: var(--ayu-positive);
    --ayu-status-dnd: var(--ayu-negative);
    --ayu-status-idle: #fa8d3e;
    --ayu-status-streaming: var(--ayu-presence-streaming);
    --ayu-status-offline: var(--background-primary);

    --ayu-border-radius: 7.5px;

    --ayu-bot-tag-bg-colour: #55b4d4;
    --ayu-bot-tag-fg-colour: #f0f0f0;
    --ayu-bot-tag-radius: 2.5px;

    --ayu-embed-right-radius: 15px;

    --ayu-icon-badge-radius: 4.5px;

    --scrollbar-auto-thumb: var(--background-secondary-alt);
    --scrollbar-auto-track: transparent;

    --scrollbar-thin-thumb: var(--background-secondary-alt);
    --scrollbar-thin-track: transparent;

    --ayu-notification-colour: #a29bfe;
}

html.theme-dark::before {
    content: "This theme is made to be used with Discord's light theme. Please switch to that for the best experience.";
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: var(--ayu-negative);
    text-align: center;
    position: absolute;
    z-index: 10001;
    right: 0;
    left: 0;
}
