@import url("https://sardonicism-04.github.io/ayu-discord/css/ayu.css");

/* Uncomment any of these lines to enable them */

/* Border Radius-es (Square Icons etc) */
/* @import url(https://sardonicism-04.github.io/ayu-discord/extensions/borders.css); */

/* Lurker Input Bar (Hides the input bar when you aren't hovering it to prevent accidentally triggering typing) */
/* @import url(https://sardonicism-04.github.io/ayu-discord/extensions/lurker-input.css); */

/* Declares variables used within the theme and all */
.theme-light,
.theme-dark {
    /* Discord vars */
    --background-primary: #1f2430;
    --background-secondary: #191e2a;
    --background-secondary-alt: #101521;
    --background-tertiary: #141925;
    --background-accent: #33415e;
    --background-floating: #232834;

    --channeltextarea-background: var(--background-accent);
    --channels-default: #cbccc6;

    --text-muted: #707a8c;
    --text-normal: #cbccc6;
    --text-link: #5ccfe6;

    --input-background: var(--background-tertiary);

    --interactive-normal: #cbccc6;
    --interactive-hover: #cbccc6;
    --interactive-active: #fff;
    --interactive-muted: #707a8c;

    --header-primary: #fff;
    --header-secondary: #c9c9c9;

    --background-mentioned: #a29bfe1c;
    --background-mentioned-hover: #a29bfe31;

    --background-modifier-hover: #33415e2d;
    --background-modifier-active: #33415e49;
    --background-modifier-selected: #33415e5d;

    --activity-card-background: var(--background-tertiary);

    /* Ayu theme-specific vars */
    --ayu-positive: #a6cc70;
    --ayu-negative: #f27983;
    --ayu-default: #77a8d9;

    --ayu-transition-duration: 0.25s;

    --ayu-syntax-tag: #5ccfe6;
    --ayu-syntax-func: #ffd580;
    --ayu-syntax-entity: #73d0ff;
    --ayu-syntax-string: #bae67e;
    --ayu-syntax-regexp: #95e6cb;
    --ayu-syntax-markup: #f28779;
    --ayu-syntax-keyword: #ffa759;
    --ayu-syntax-special: #ffe6b3;
    --ayu-syntax-comment: #5c6773;
    --ayu-syntax-constant: #d4bfff;
    --ayu-syntax-operator: #f29e74;
    --ayu-syntax-added: #a6cc70;
    --ayu-syntax-removed: #f27983;

    --ayu-menu-red: var(--ayu-negative);
    --ayu-menu-default: var(--ayu-default);

    --ayu-button-default: var(--ayu-default);
    --ayu-button-positive: var(--ayu-positive);
    --ayu-button-negative: var(--ayu-negative);

    --ayu-presence-playing: var(--ayu-default);
    --ayu-presence-spotify: var(--ayu-positive);
    --ayu-presence-streaming: #a37acc;

    --ayu-status-online: var(--ayu-positive);
    --ayu-status-dnd: var(--ayu-negative);
    --ayu-status-idle: #ffa759;
    --ayu-status-streaming: var(--ayu-presence-streaming);
    --ayu-status-offline: var(--background-primary);

    --ayu-border-radius: 7.5px;

    --ayu-bot-tag-bg-colour: #5ccfe6;
    --ayu-bot-tag-fg-colour: #101521;
    --ayu-bot-tag-radius: 2.5px;

    --ayu-embed-right-radius: 15px;

    --ayu-icon-badge-radius: 4.5px;

    --scrollbar-auto-thumb: var(--background-secondary-alt);
    --scrollbar-auto-track: transparent;

    --scrollbar-thin-thumb: var(--background-secondary-alt);
    --scrollbar-thin-track: transparent;

    --ayu-notification-colour: #a29bfe;
}

html.theme-light::before {
    content: "This theme is made to be used with Discord's dark theme. Please switch to that for the best experience.";
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: var(--ayu-negative);
    text-align: center;
    position: absolute;
    z-index: 10001;
    right: 0;
    left: 0;
}
