div[class*=base] > div[class*=content] > div[class*=sidebar] {
    position: absolute;
    z-index: 3;
    border-radius: var(--ayu-border-radius);
    background-color: var(--background-secondary-alt);
    align-self: center;
    height: 75%;
    margin-left: 1%;

    transition-duration: 0.4s;

    box-shadow: var(--elevation-high);
}

div[class*=base] > div[class*=content] > div[class*=sidebar]:not(:hover) {
    height: 32px !important;
    width: 32px !important;

    align-items: center;
    justify-content: center;

    transition-duration: 0.4s;
}

div[class*=base] > div[class*=content] > div[class*=sidebar]:not(:hover) * {
    display: none;
}

div[class*=base] > div[class*=content] > div[class*=sidebar]:not(:hover)::before {
    content: "";
    position: absolute;
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double var(--text-normal);
    border-bottom: 0.125em solid var(--text-normal);
}

/* Hide the channel buttons to provide more space for the text input bar */
div[class*=channelTextArea] > div[class*=scrollableContainer] div[class*=buttons] {
    display: none !important;
}