/* SERVER LIST */
[class*="circleIconButton"] {
  color: var(--ayu-positive);

  &[class*="selected"],
  &:hover {
    background-color: var(--ayu-positive);
    color: white;
  }
}

[class*="guildSeparator"],
ul[class*="tree"] svg [class*="childWrapper"] {
  background-color: var(--background-accent);
}

// Server home tab
div[class*="base"] {
  div[class*="content"] {
    div[class*="background"][class*="chat"] {
      background-color: var(--background-primary);
    }
  }
}

/* INFO BARS */
[class*="messagesErrorBar"] {
  background-color: var(--ayu-negative) !important;
}
[class*="newMessagesBar"] {
  background-color: var(--ayu-default);
  opacity: 0.75;
  z-index: 20;
}

/* SEARCH */
[class*="elevationBorderHigh"] {
  background-color: var(--background-floating) !important;

  [class*="queryContainer"] {
    background-color: var(--background-floating) !important;
  }

  & [class*="resultsGroup"] [class*="option"]::after {
    background: none !important;
  }

  [class*="option"] {
    &[class*="selected"],
    &[aria-selected="true"] {
      background-color: var(--background-secondary);
    }
  }
}

// Filter backgrounds in search bar
[class*="searchFilter"],
[class*="searchAnswer"] {
  background-color: var(--background-accent) !important;
  color: var(--text-normal);
}

/* Calendar picker for search */
div[class*="react-datepicker"] {
  background-color: var(--background-floating) !important;
}

/* Porple notifs www */
div[class*="numberBadge"],
div[class*="unreadBar"],
div[class*="unreadMentionsIndicatorTop"] > div[class*="unreadMentionsBar"] {
  background-color: var(--ayu-notification-colour) !important;
}

// User profile popout (bottom left)
div[class*="profileGroup"]
  div[class*="profileBody"]
  > div[class*="bodyInnerWrapper"],
div[class*="sidebar"] > section[class*="panels"] {
  background-color: transparent;
}

/* Top toolbar stuff */
div[class*="chat"] > [class*="content"]::before,
nav[class*="container"]
  > div[class*="container"][class*="clickable"]
  > header[class*="header"] {
  box-shadow: none;
}

div[class*="chat"] > section[class*="container"][class*="themed"] {
  background-color: var(--background-secondary);
}

div[class*="toolbar"] > {
  a[class*="anchor"] {
    display: none;
  }

  div[class*="search"] {
    order: 1;
  }
}

// Forum channels and"Browse Channels" tab
div[class*="chat"] {
  $content: "> div[class*=content]";

  #{$content} > div[class*="container"] {
    background-color: var(--background-tertiary);

    div[class*="postBody"] div[class*="textContentFooter"] {
      display: none;
    }
  }

  #{$content} > div[class*="container"][class*="showTopicCard"] {
    background-color: var(--background-floating);
  }

  &[class*="threadSidebarOpen"] {
    #{$content} > div[class*="container"] {
      background-color: var(--background-secondary);
    }
  }
}

div[class*="messagesWrapper"]
  ol[class*="scrollerInner"]
  > div[class*="divider"] {
  background-color: var(--background-secondary);
}

// Voice channels

/* Voice Call stream watchers user hover */
[class*="memberListItem"]:not([class*="popoutDisabled"]):hover {
  background-color: var(--background-secondary) !important;
}

/* VC video loading background */
[class*="videoWrapper"] {
  background-color: var(--background-accent);
}

// Voice call main background
div[class*="callContainer"] {
  > div[class*="root"] {
    background-color: var(--background-secondary-alt);

    > div[class*="videoControls"] > div[class*="gradientContainer"] {
      background-image: none;
    }
  }
}

// Members list
aside[class*="membersWrap"] > div[class*="members"] {
  background: none;

  div > div[class*="member"] {
    background: none;
  }
}

// Unread message separator
div[class*="divider"][class*="isUnread"] {
  --divider-color: var(--ayu-negative);
}
