/* Mic Test thing */
[class*="micTest"] [class*="container"] {
  border-radius: var(--ayu-border-radius);

  [class*="notches"] {
    display: none;
  }

  [class*="progress"] {
    background-color: var(--background-secondary);
  }
}

/* Settings hovering */
[class*="card"][class*="member"]::before,
[class*="card"][class*="game"]::before,
[class*="card"][class*="bannedUser"]::before,
[class*="card"][class*="InviteRow"]::before,
[class*="card"][class*="emojiRow"]::before {
  background-color: var(--background-secondary);
  border: none;
}

[class*="formNotice"],
[class*="notDetected"],
[class*="userSettingsVoice"] [class*="previewOverlay"],
[class*="codeRedemptionRedirect"] {
  background-color: var(--background-floating) !important;
}
