[class*="autocompleteInner"] {
  background-color: var(--background-floating);
}
[class*="autocomplete"] [class*="selected"] {
  background-color: var(--background-secondary);
}

/* Slash Command Headers */
div[class*="categoryHeader"] {
  background-color: var(--background-secondary);
}
