[class*="colorDanger"] {
  &:not(:hover):not(:active) {
    color: var(--ayu-menu-red);
    background-color: transparent;
  }

  &:hover,
  &:hover [class*="colorDefault"],
  &:active,
  &:active [class*="colorDefault"] {
    background-color: var(--ayu-menu-red) !important;
    border-color: var(--ayu-menu-red);
  }
}

div[class*="popout"] > div[class*="row"][role="button"]:hover,
[class*="colorDefault"]:hover,
[class*="colorDefault"]:active:not([class*="hideInteraction"]),
[class*="colorDefault"][class*="focused"] {
  background-color: var(--ayu-menu-default);
}

// Override
[class*="colorDefault"][class*="hideInteraction"] {
  background-color: initial;
}

[id*="message-quickreact"] [class*="button"] {
  border-radius: var(--ayu-border-radius);
}

// Roles adding menu
[role="dialog"][aria-label^="Add Role"] [class*="header"] {
  background-color: var(--background-secondary);
}
[role="dialog"][aria-label^="Add Role"] [class*="sectionTag"] {
  background-color: var(--background-floating);
}

// Select menus
div[class*="selectOption"]:hover {
  background-color: var(--background-modifier-hover);
}

// Message context menu - hide super reactions button
div[role="group"] > div[class*="colorPremiumGradient"][class*="item"] {
  display: none;
}

// Server "Channels & Roles" tab
div[class*="chat"] > div[class*="container"] {
  background-color: var(--background-secondary);

  div[class*="tabBar"] {
    border-bottom-color: var(--background-accent);
  }
}

// Channels and Roles "Customize" tab
div[class*="chat"][class*="scrollerContainer"] {
  background-color: var(--background-tertiary);
}
