/* Replies */
[class^="message"] [class*="cozy"] [class*="repliedMessage"] {
    background-color: var(--background-secondary);
    border-radius: var(--ayu-border-radius);
    width: fit-content;
    max-width: 100%;
    padding: 4px;
    margin: 0;
}

[class^="message"] [class*="cozy"] [class*="repliedMessage"]::before {
    display: none;
}

img[class*="replyAvatar"] {
    background-color: var(--background-secondary-alt);
    content: var(--ayu-reply-icon);
    padding: 1.5px;
}

/* Reactions on messages */
[class*="reactions"][role="group"] [class*="reaction"] {
    background-color: var(--background-modifier-hover);
}

[class*="reactions"][role="group"] [class*="reaction"][class*="reactionMe"] {
    background-color: var(--background-accent);
}

/* Game invites */
[class^="preview"][class^="invite"],
[class^="message"] [class^="invite"] {
    background-color: var(--background-secondary);
    border-color: var(--background-secondary-alt);
}

/* Mentions */
[class^="message"][class*="mentioned"]::before {
    background-color: var(--ayu-notification-colour);
}

/* Spoilered stuff */
[class*="spoilerText"][class*="hidden"] {
    background-color: var(--background-tertiary) !important;
}

[class*="spoilerText"]:not([class*="hidden"]) {
    background-color: var(--background-modifier-hover) !important;
}
