[class*="regionSelectModal"],
[class*="overflowRolesPopout"]:not([class*="ArrowWrapper"]),
[class*="colorPickerCustom"],
[class*="streamPreviewWrapper"] [class*="streamPreview"],
[class*="addGamePopout"],
[class*="keyboardShortcutsModal"],
[class*="uploadModal"],
[class*="uploadModal"] > [class*="inner"],
[role="dialog"] [class*="content"][class*="thin"][class*="scrollerBase"],
[role="dialog"] [class*="header"][class*="horizontal"] {
  background-color: var(--background-floating) !important;
}

[class*="root"][class*="small"],
[class*="modalContents"] {
  background-color: var(--background-floating);
}

[role="dialog"] {
  [class*="footer"] {
    background-color: var(--background-secondary);
  }

  [class^="message"]:not([class^="replied"]) {
    background-color: var(--background-primary);
  }

  > div > [class*="thin"][class*="scroller"] {
    background-color: var(--background-secondary);
  }
}

[class*="menu"],
[role="dialog"] [class*="reactors"] {
  background-color: var(--background-primary) !important;
  border-color: var(--background-secondary-alt);
}

[class*="root"][class*="small"] a {
  color: var(--text-link);
}

/* Quick switcher */
[class*="quickswitcher"] > [class*="input"] {
  background-color: var(--background-secondary-alt);
}

// Server webhook popout
div[class*="guildPopout"] > div[class*="body"] {
  background-color: var(--background-floating);
}

// App Launcher popup
div[class*="drawerSizingWrapper"]
  > div[class*="contentWrapper"]
  > div[class*="container"] {
  background-color: var(--background-floating);

  ul[class*="commandList"] > li[class*="command"] {
    background-color: var(--background-primary);
  }

  div[class*="contentContainer"] > ul > li[class*="command"]:hover,
  ul[class*="applicationList"] > li[class*="application"]:hover {
    background-color: var(--background-modifier-hover);
  }
}
