/* SMALL POPOUTS */
[class*="userPopout"] > [class*="body"],
[class*="userPopout"] [class*="footer"] {
  background-color: var(--background-floating) !important;
}

[role="option"][class*="role"],
[class*="role"][class*="addButton"],
[class*="role"][class*="overflowButton"] {
  border-radius: 2.5px;
  background-color: unset;
}

/* LARGE POPOUTS */
div[class*="topSection"] {
  [class*="tabBarContainer"] {
    border: none;
    padding-bottom: 5px;
  }

  [class*="tabBar"][role="tablist"] {
    height: 40px;

    [class*="tabBarItem"] {
      margin: 0;
      padding: 0 15px;
      border-bottom: none;
      border-radius: var(--ayu-border-radius);

      &[aria-selected="true"] {
        background-color: var(--background-secondary-alt);
      }
    }
  }
}

[class*="listScroller"] {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-content: flex-start;
}

// Large user popout (also applies to side panel in DMs)
div[class*="userProfileOuter"] {
  // Styles to apply to unthemed profiles
  &:not([class*="userProfileOuterThemed"]) {
    div[class*="listRow"][role="button"] {
      background-color: var(--background-secondary-alt);

      &:hover {
        background-color: var(--background-modifier-hover);
      }
    }

    div[class*="note"] textarea {
      background-color: var(--background-tertiary);
    }
  }

  // Styles to apply to non-panel views
  &:not([class*="userPanelOuter"]) {
    div[class*="listRow"][role="button"] {
      width: 48%;
      height: 50px;
      margin-bottom: 10px;
      box-sizing: border-box;
      border-radius: var(--ayu-border-radius);
    }

    svg[class*="additionalActionsIcon"] {
      height: 32px;
      width: 32px;
      background-color: var(--background-accent);
      border-radius: 3px;
      transform: rotate(90deg);
    }
  }

  // User note styles
  div[class*="note"] textarea {
    padding: 10px;
  }

  // Connected account styles
  div[class*="connectedAccounts"] {
    div[class*="connected"]:not([class*="connectedAccountName"]) {
      border: none;
      border-radius: var(--ayu-border-radius);
    }

    svg[class*=flowerStar] > path {
      fill: var(--background-accent);
    }
  }
}

// [class*="listRow"][role="button"] {
//   width: 48%;
//   height: 50px;
//   margin-bottom: 10px;
//   box-sizing: border-box;
//   border-radius: var(--ayu-border-radius);
//   background-color: var(--background-secondary-alt);
// }

// [class*="listRow"][role="button"]:hover {
//   background-color: var(--background-modifier-hover);
// }

// div[class*="userPopout"] > div[class*="footer"] {
//   padding: 0 12px 16px;
// }

// [class*="note"] textarea {
//   background-color: var(--background-tertiary);
//   padding: 10px;
// }

// [class*="connectedAccounts"]
//   [class*="connectedAccount"]:not([class*="connectedAccountName"]) {
//   border: none;
//   border-radius: var(--ayu-border-radius);
// }

// [class*="flowerStar"] > path {
//   fill: var(--background-accent);
// }


