/* SECTION: Misc. tweaks */

/* Tag customisation */
div[class*="betaBadge"],
[class*="botTag"] {
  background-color: var(--ayu-bot-tag-bg-colour) !important;
  color: var(--ayu-bot-tag-fg-colour);
  border-radius: var(--ayu-bot-tag-radius);
}

/* Audit log filters */
[class*="FilterPopout"] {
  background-color: var(--background-floating) !important;
}
[class*="content"] > [class*="selectedBrand"] {
  background-color: var(--ayu-default) !important;
}

/* Stream controls and stuff */
[class*="bottomControls"] [class*="colorable"][class*="primaryDark"] {
  background-color: var(--background-accent);
}

/* Go Live window */
[role="dialog"] [class*="modalSize"][class*="root"],
[class*="segmentContainer"] [class*="segmentControl"] {
  background-color: var(--background-floating);
}

/* Confirmation region */
[class*="noticeRegion"] [class*="elevationHigh"] {
  background-color: var(--background-floating) !important;
}

/* Nitro Gifts Tile */
div[class*="giftCodeContainer"] > div[class*="tile"],
div[class*="giftCodeContainer"] > div[class*="tile"]:hover {
  background-color: var(--background-tertiary);
}

/* Border color for focused input boxes */
textarea[class*="input"]:focus,
input[class*="input"]:focus {
  border-color: var(--ayu-notification-colour);
}

/* Marks on sliders */
div[class*="markDash"] {
  background-color: var(--background-accent) !important;
}

div[class*="markValue"] {
  color: var(--text-muted) !important;
}

/* Keybind icons */
div[class*="keybindShortcut"] span {
  background-color: var(--background-accent) !important;
}

// Remove orphaned gradient
section[class*="title"] div[class*="children"]::after {
  background: none !important;
}

// Codeblock language indicator in WYSIWYG
span[class*="codeBlockLang"] {
  color: var(--ayu-notification-colour);
  font-weight: 600;
}

// Event cards hover
div[class*="eventCard"] div[class*="footer"] {
  background-color: transparent;
}

// Image galleries
div[class*="focusLock"] > div[class*="carouselModal"] {
  box-shadow: none;
}

// App directory modal background color
div[class*="directoryModal"] {
  background-color: var(--background-primary);
}
